.article {

  &__wrapper {
    padding: 0;
  }

  &__content {

    // Font
    font-size: 16px;

    @include breakpoint(medium down) {
      font-size: 14px;
    }

    // Headings
    h2, h3, h4 {
      &:focus{
        outline: none;
      }
    }

    h1 {
      font-size: 3rem;
    }

    h2 {
      margin-top: 3em;
      font-size: 2rem;
    }

    h3 {
      margin-top: 1.6em;
      font-size: 1.7rem;
    }

    @include breakpoint(small down) {
      h2 {
        margin-top: 2em;
        font-size: 1.3rem;
      }
      h3 {
        margin-top: 1em;
        font-size: 1rem;
        font-weight: bold;
      }
    }

    // Images
    & img {
      height: auto;
      margin-top: 1em;
      margin-bottom: 1em;
      max-width: 600px;
      box-shadow: 0 0 8px rgba($black, .3);

      &:hover {
        cursor: zoom-in;
        cursor: -moz-zoom-in;
        cursor: -webkit-zoom-in;
      }

      @include breakpoint(small down) {
        max-width: 100%;
      }
    }

    p span img {
      margin: 0;
    }

    //Lists
    ul, ol, dl {
      padding-left: 3em;
      margin-bottom: 2em;

      li {
        margin-bottom: 1em;

        &:last-child {
          margin-bottom: 3em;
        }

        ul, ol, dl {

          :last-child {
            margin-bottom: 0;
          }

          li {
            margin-bottom: 0;

            p {
              margin-bottom: 0;
            }
          }
        }
      }

      @include breakpoint(small down) {
        padding-left: 1em;
        padding-bottom: .5em;

        li {
          margin-bottom: .5em;

          &:last-child {
            margin-bottom: 1em;
          }
        }
      }
    }



    //admonition
    .confluence-information-macro {
      margin: 2em 0;

      &-body {
        p, ul, ol, dl {
          margin-bottom: 0;

          li:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .confluence-embedded-file-wrapper{
      display: block;
    }

  }
}

#imageContainer {
  margin-top: 15vh;
  text-align: center;
  outline: none;
  padding: 1em;
  background-color: rgba($black, .2);

  button.close-button {
    position: absolute;
    top: 14.5vh;
    color: $white;
    font-size: 3rem;
  }
}

#containerImage {
  height: 70vh;
}

.breadcrumbs {

  li:not(:last-child)::after {
    color: $primary-color;
  }
}

@include breakpoint(large){
  .grid-padding-x>.cell.article {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}