.ctas {
  position: relative;
  top: -10em;

  @include breakpoint(large down) {
    top: 0;
  }
}

.card {
  padding: 2em 1em;

  &:hover {
    transition: $button-transition;
    filter: brightness(90%);
  }

  &__link:hover {
    text-decoration: none;
  }
}

.card-section {
  text-align: center;
}

.manual {

  &__heading {
    text-align: center;
    margin-bottom: 2em;
  }

  &__card {
    min-height: 200px;
    color: $secondary-color;
    background-color: $primary-color;

    &:hover {
      transition: $button-transition;
      filter: brightness(110%);
    }
  }

  &__text {
    display:flex;
    align-items: center;
    justify-content: center;
  }
}
