@font-face {
  font-family: 'Lato', sans-serif;
  src: url("../fonts/Lato-Regular.ttf") format('ttf');
}
@font-face {
  font-family: 'Lato-Bold', sans-serif;
  src: url("../fonts/Lato-Bold.ttf") format('ttf');
}
@font-face {
  font-family: 'Lato-Light', sans-serif;
  src: url("../fonts/Lato-Light.ttf") format('ttf');
}

$font-lato-regular: 'Lato', Helvetica, Roboto, Arial, sans-serif;
$font-lato-bold: 'Lato-Bold', Helvetica, Roboto, Arial, sans-serif;
$font-lato-light: 'Lato-Light', Helvetica, Roboto, Arial, sans-serif;
