.footer {
  position: relative;
  bottom: 0;
  margin-top: 2em;
  padding: 4em;
  background-color: $primary-color;
  width: 100%;
  color: $secondary-color;
  flex-grow: 0;

  a {
    color: $secondary-color;
  }

  @include breakpoint(small down) {
    text-align: center;

    &__logo {
      margin-bottom: 2em;
    }

    &__links {
      margin-bottom: 2em;
      display: grid;
    }
  }


  &__logo {
    max-height: 25px;
  }

  &__links {
    text-align: center;

    &--link {
      padding: 1em;
    }
  }

  &__copyright {
    text-align: center;
  }

  &__attribution {
    margin-top: 3em;
    text-align: center;
  }
}

.scroll-viewport-attribution {

  a {
    color: $secondary-color;
  }
}