// Hero
// Used in landingPageHeader.vm
// Represents the hero Banner


.hero {

  &__BackgroundImage {
    max-width: 100%;
    width: 100%;
    min-height: 600px;
    background-size: cover;

    @include breakpoint(large down) {
      min-height: 500px;
    }
  }

  &__Logo {
    max-height: 80px;
    padding: 1em;
  }
}