// Loader
// Used in page.vm
// Displayed until the page is loaded then is removed from script.


#loaderOverlay{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: white;
  z-index: 99999;
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid $primary-color;
  width: 60px;
  height: 60px;
  top: 45vh;
  left: 50vw;
  position: absolute;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  z-index: 9999999;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}