$menu-hover-lines-transition: all 0.35s ease;
$menu-hover-lines-border-width: 3px;

.menu-hover-lines {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: $menu-hover-lines-transition;
  padding: 1.5em;
  float: right;

  li a {
    padding: 0.75rem 0;
    color: $secondary-color;
    position: relative;
    margin-left: 1rem;
  }

  li:first-child a {
    margin-left: 0;
  }

  li.active > a {
    background-color: transparent;
  }

  a::before {
    top: 0;
    left: 0;
  }

  a::after {
    bottom: 0;
    right: 0;
  }

  a:hover,
  li.active > a {
    filter: brightness(90%);
    transition: $menu-hover-lines-transition;
  }
}

.articleNavigation {
  background-color: $primary-color;
}

.top-bar {
  background: none;

  ul {
    background: none;
  }
}

.title-bar {
  background: none;
  min-height: 100px;

  &-title {
    color: $secondary-color;
  }
}

