.picker {
  list-style: none;
  margin: 0;
  background: $primary-color;
  min-width: 175px;
  text-align: center;

  a {
    border-bottom: 1px solid $primary-color;
    color: $secondary-color;

    &:hover {
      text-decoration: none;
      filter: brightness(80%);
    }

    &:focus {
      outline: none;
    }

    &:last-child {

      li {
        border: none;
      }
    }

    li {
      padding: .5rem;
      border-bottom: 1px solid;
      background-color: $primary-color;

      &:hover {
        filter: brightness(110%);
      }
    }
  }
}