.search {

  width: 100%;

  &__bar input {
    border-radius: 1em;
    position: relative;
    padding: 1.2em;
    padding-left: 2.5em;
    font-size: 1.5em;
    top: 6em;
    background-position: .5em .7em;
    background-repeat: no-repeat;
    background-size: 1em;
    z-index: 101;

    &:focus {
      box-shadow: #5288DB;
      color: $black;
    }

    @include breakpoint(large down) {
      top: 2em;
    }
  }
}


.articleSearch {
  align-self: center;

  &__bar input {
    border-radius: 1em;
    padding: 1.2em;
    font-size: 1.5em;
    background-color: rgba($white, .3);
    border-color: rgba($white, .3);
    margin: auto;
    margin-left: 0;

    &:focus {
      box-shadow: $primary-color;
      color: $black;
    }

    &::placeholder {
      color: rgba($black, .3);
    }
  }
}
$animated-search-form-initial-width: 20rem;
$animated-search-form-transition-duration: 0.4s;

.animated-search-form[type=text] {
  width: $animated-search-form-initial-width;
  background-position: 0.625rem 0.7rem;
  background-repeat: no-repeat;
  background-size: .8em;
  padding: 0.75rem 1.25rem 0.75rem 2rem;
  padding-left: 2em;
  transition: width $animated-search-form-transition-duration ease-in-out;
  color: rgba($white, .3);

  &:focus {
    min-width: 40rem;
    background-color: rgba($white, .6);
  }
}

.search-results {
  font-family: $font-lato-regular;

  ol {
    margin: 0;

    li {
      list-style: none;
      background-color: $primary-color;
      padding: 0 1em;
      color: $secondary-color;
      margin-bottom: 1em;

      a {
        padding: .5em;
        color: $secondary-color !important;

        p {
          margin: 0;
        }
      }
    }
  }


}


//========================//
//      QUICKSEARCH       //
//========================//

.quicksearch
{
  display: none;
  background: $secondary-color;
  position: relative;
  width: 100%;
  z-index: 100;
  box-shadow: 0 0 10px #adadad;
  top: 5rem;
  padding: 3rem 1rem 1rem 1rem;

  > ul
  {
    list-style: none;
    margin: 0;

    > li {
      padding: .5rem;
      border-bottom: 1px solid $primary-color;

      a {
        color: $primary-color;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    > li:last-child {
      border: none;
    }

  }

  // list-item in quicksearch for landing page
  &--result
  {
    display: flex;
    margin: 0;
    padding: 1em 1em 1em 3.75em;
    border: 1px solid lighten($primary-color, 29%);

    p
    {
      margin: 0;
      span
      {
        font-size: 1em;
      }
    }

    :first-child
    {
      min-width: 12%;
    }

    &__description
    {
      padding-left: 1em;
      min-width: 60%;
    }

    &__product
    {
      align-self: center;
      font-size: .6em;
      padding-left: 2em;
      justify-content: flex-end;
    }

    :not(:first-child)
    {
      color: $primary-color;
    }

    @include breakpoint(1199px down) {
      padding: 1em 1em 1em 1em;
      :first-child
      {
        min-width: 14%
      }
      &__description
      {
        padding-left: 1em;
        min-width: 66%;
      }
    }

  }

  // gets activated when results are found (see app.js --> search()
  &--results
  {
    display: block;
  }
}

