.left-sidebar {
  &__navigation {

    ul.menu.vertical.nested.submenu.is-drilldown-submenu.is-active {
      height: 100%;
    }

    &--item {

      a {
        outline: none;
        color: $primary-color;

        &:hover {
          background-color: rgba($primary-color, .1);
        }
      }
    }
  }
}


.right-sidebar {
  &__navigation {
    a.toc-link {
      outline: none;
    }
  }
}

.is-active-link::before {
  background-color: $black !important;
}

.toc-list-item {
  list-style: none;

  &:hover, &:active, &:focus{
    background-color: rgba($primary-color, .1);
  }
}

.toc-link {
  &:hover {
    text-decoration: none;
  }
}

.toc-link::before {
  height: 22px;
}

#navigationMenu {
  border-right: 1px solid rgba($black, .1);
}

#tableOfContent {
  border-left: 1px solid rgba($black, .1);
}