
<div class="grid-container full">
    <div class="grid-x grid-padding-x" style="margin-bottom: 2em">
        <div class="cell small-6 medium-6 large-2">
            #set ($documentationLink = $find.page('Documentation').absoluteLink)
            <h4><a href="$documentationLink" target="_self" aria-label="Documentation of $space.name" rel="help" style="color: #0a0a0a">Documentation</a></h4>
        </div>
        #if ($variants || $versions)
            <div class="cell small-6 medium-6 large-2 xlarge-2 text-right" id="picker">

                #if ($variants && $versions)
                    <button class="hollow button primary small" type="button" data-toggle="variants-dropdown">$variants.current.name</button>
                    <button class="hollow button primary small" type="button" data-toggle="versions-dropdown">v$versions.current.value</button>
                #elseif ($versions && !$variants)
                    <button class="hollow button primary small" type="button" data-toggle="versions-dropdown">v$versions.current.value</button>
                #elseif($variants && !$versions)
                    <button class="hollow button primary small" type="button" data-toggle="variants-dropdown">$variants.current.name</button>
                #end

                #if ($variants)
                    <div class="dropdown-pane" id="variants-dropdown" data-dropdown data-auto-focus="true" style="padding: 0">
                        <ul class="picker">
                            #foreach($var in $variants.available)
                                #if ($var.name != $variants.current.name && $var.name != "all")
                                    #set($parentPath = "")
                                    #if ($page.parent.title != $pages.home.title)
                                        #foreach($parent in $page.ancestors)
                                            #if ($parent.title != $space.name && $parent.title != $pages.home.title)
                                                #set($parentPath = $parentPath + $parent.title + "/")
                                            #end
                                        #end

                                        #set ($parentPath = $parentPath.replace("'", "-"))
                                        #set ($parentPath = $parentPath.replace(" - ", "-"))
                                        #set ($parentPath = $parentPath.replace(" ", "-").toLowerCase())
                                    #end

                                    #set ($pageTitle = $page.title.replace("'", "-"))
                                    #set ($pageTitle = $pageTitle.replace(" - ", "-"))
                                    #set ($pageTitle = $pageTitle.replace(" ", "-").toLowerCase())

                                    <a href="$viewport.absoluteLink/$var.name.toLowerCase()/${parentPath}${pageTitle}" target="_self" name="$var.name"><li>$var.name</li></a>
                                #end
                            #end
                        </ul>
                    </div>
                #end

                #if ($versions)
                    <div class="dropdown-pane" id="versions-dropdown" data-dropdown data-auto-focus="true" style="padding: 0">
                        <ul class="picker">
                            #foreach($version in $versions.available)
                                #if(!$version.name.contains('latest'))
##                                    #set($parentPath = "")
##                                    #foreach($parent in $page.ancestors)
##                                        #if ($parent.title != $space.name)
##                                            #set($parentPath = $parentPath + $parent.title + "/")
##                                        #end
##                                    #end
##                                    #set ($parentPath = $parentPath.replace("'", "-"))
##                                    #set ($parentPath = $parentPath.replace(" ", "-"))
##                                    #set ($parentPath = $parentPath.toLowerCase())
                                    #set ($pageTitle = $page.title.replace("'", "-"))
                                    #set ($pageTitle = $pageTitle.replace(" - ", "-"))
                                    #set ($pageTitle = $pageTitle.replace(" ", "-").toLowerCase())
                                    <a href="$viewport.absoluteLink/$version.name/$variants.current.name.toLowerCase()/${pageTitle}" target="_self" name="$version.name">
                                        <li value="$version.value"
                                            #if($version.name == $versions.current.name) selected #end>
                                            $version.name
                                        </li>
                                    </a>
                                #end
                            #end
                        </ul>
                    </div>
                #end

            </div>
        #end
        <div class="cell auto show-for-large">
            <nav aria-label="You are here:" role="navigation" style="padding-top: .9em">
                <ul class="breadcrumbs">
                    #foreach($ancestor in $page.Ancestors)
                        #if ($ancestor.title != $space.name)
                            <li>
                                <a href="$ancestor.link" name="$ancestor.title">$ancestor.title</a>
                            </li>
                        #end
                    #end
                    <li>
                        <span class="show-for-sr">Current: </span> $page.title
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="grid-x grid-padding-x off-canvas-wrapper">
        <div class="cell large-2" id="navigationMenu" data-off-canvas>
            <div class="left-sidebar__navigation" data-anchor="articleContent">
                #set ($documentationTree = $find.page('Documentation'))
                #pageTree($documentationTree, 0)
            </div>
        </div>
        <div class="cell auto off-canvas-content article" data-off-canvas-content>
            <h1>$page.title</h1>
            <div class="grid-container article__wrapper" style="max-width: none">
                <div class="article__content" id="articleContent">
                    $page.content
                </div>
                <div id="imageContainer" class="reveal-modal" data-reveal>
                    <img id="containerImage" src="" alt="" title="">
                    <button class="close-button" data-close aria-label="Close modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div id="tableOfContent" class="cell large-2 show-for-xlarge">
            <div data-sticky-container>
                <aside data-sticky data-anchor="articleContent">
                    <div class="right-sidebar__toc">
                        <div class="js-toc" data-smooth-scroll>

                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>


