<div class="grid-container">
    <div class="cell manual__heading">
        <h2 id="documentation">Our Products</h2>
    </div>
    <div class="grid-x grid-padding-x" style="margin-bottom: 8em" data-equalizer>
        #foreach($product in $config.otherProducts.asList)
            <div class="cell small-12 medium-6 large-6">
                <a href="$!{product.asHref}" class="card__link" name="$product.asText" data-equalizer-watch>
                    <div class="card manual__card">
                        <div class="card-section manual__text">
                            <h4>$!{product.asText}</h4>
                        </div>
                    </div>
                </a>
            </div>
        #end
    </div>
</div>